<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tech.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED9C48671999CCA40083A14B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED9C48861999E2DE0083A14B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED9C48931999E2DE0083A14B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDAEF54E199847D000EC8C71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDAEF55E199847D000EC8C71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDAEF57B199848A400EC8C71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDAEF588199848A400EC8C71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
